/* reset */
html, body, div, span, pre, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    border: 0;

}


body {
    margin: 20px 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    background: #eee;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    max-width: 600px;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    border: 2px #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 4px #000000;
    -moz-box-shadow: 0 0 4px #000000;
    -webkit-box-shadow: 0 0 4px #000000;
}

#header {
    padding: 40px 20px 0 20px;
}


#content {
    padding: 5px 20px;
}

.syntaxhighlighter {
    overflow: hidden !important;
}

